<!DOCTYPE html>
<html lang="pt-BR"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout(head = ~{::head}, main = ~{::main})}">

<head th:replace="~{fragments/head :: head(links = ~{},title =~{::title})}">
    <title>Cadastro de Cliente Físico</title>
</head>

<body>
<main class="container">
    </br>
    <h1>Cadastro de Cliente Físico</h1>
    </br>

    <form th:action="@{/cliente/saveFisico}" th:object="${pessoaFisica}" method="POST">

        <input type="hidden" th:field="*{id}" />

        <div class="mb-3">
            <label for="nome" class="form-label">Nome:</label>
            <input type="text" class="form-control" id="nome" th:field="*{nome}" th:errorclass="is-invalid">
            <label class="invalid-feedback" th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></label>
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">E-mail:</label>
            <input type="email" class="form-control" id="email" th:field="*{email}" th:errorclass="is-invalid">
            <label class="invalid-feedback" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></label>
        </div>
        <div class="mb-3">
            <label for="telefone" class="form-label">Telefone:</label>
            <input type="text" class="form-control" id="telefone" th:field="*{telefone}"th:errorclass="is-invalid">
            <label class="invalid-feedback" th:if="${#fields.hasErrors('telefone')}" th:errors="*{telefone}"></label>
        </div>
        <div class="mb-3">
            <label for="cpf" class="form-label">CPF:</label>
            <input type="text" class="form-control" id="cpf" th:field="*{cpf}" th:errorclass="is-invalid">
            <label class="invalid-feedback" th:if="${#fields.hasErrors('cpf')}" th:errors="*{cpf}"></label>
        </div>

        <button type="submit" class="btn btn-primary">Salvar</button>
        <a th:href="@{/cliente/listCliente}" class="btn btn-secondary">Cancelar</a>
    </form>
</main>
</body>
</html>