<!DOCTYPE html>
<html lang="pt-BR"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      th:replace="~{fragments/layout :: layout(head = ~{::head}, main = ~{::main})}">

<head th:replace="~{fragments/head :: head(links = ~{},title =~{::title})}">
    <title>Cadastro de Cliente Físico</title>
</head>

<body>
<main class="container">
    <br>
    <h1>Cadastro de Cliente Físico</h1>
    <br>

    <form th:action="@{/cliente/saveFisico}" th:object="${pessoaFisica}" method="POST">

        <input type="hidden" th:field="*{id}" />

        <div class="mb-3">
            <label for="nome" class="form-label">Nome:</label>
            <input type="text" class="form-control" id="nome" th:field="*{nome}" th:errorclass="is-invalid">
            <label class="invalid-feedback" th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></label>
        </div>

        <div class="mb-3">
            <label for="email" class="form-label">E-mail:</label>
            <input type="email" class="form-control" id="email" th:field="*{email}" th:errorclass="is-invalid">
            <label class="invalid-feedback" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></label>
        </div>

        <div class="mb-3">
            <label for="telefone" class="form-label">Telefone:</label>
            <input type="text" class="form-control" id="telefone" th:field="*{telefone}" th:errorclass="is-invalid">
            <label class="invalid-feedback" th:if="${#fields.hasErrors('telefone')}" th:errors="*{telefone}"></label>
        </div>

        <div class="mb-3">
            <label for="cpf" class="form-label">CPF:</label>
            <input type="text" class="form-control" id="cpf" th:field="*{cpf}" th:errorclass="is-invalid">
            <label class="invalid-feedback" th:if="${#fields.hasErrors('cpf')}" th:errors="*{cpf}"></label>
        </div>

        <hr class="my-4">
        <h5 class="mb-3 text-secondary">Dados de Acesso</h5>

        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="login" class="form-label">Usuário (Login):</label>
                <input type="text" class="form-control" id="login" th:field="*{usuario.login}" th:errorclass="is-invalid">
                <div class="invalid-feedback" th:if="${#fields.hasErrors('usuario.login')}" th:errors="*{usuario.login}"></div>
            </div>

            <div class="col-md-6 mb-3">
                <label for="senha" class="form-label">Senha:</label>
                <input type="password" class="form-control" id="senha" th:field="*{usuario.password}" th:errorclass="is-invalid">
                <div class="invalid-feedback" th:if="${#fields.hasErrors('usuario.password')}" th:errors="*{usuario.password}"></div>
            </div>
        </div>
        <div class="d-grid gap-2 d-md-block mt-4">
            <button type="submit" class="btn btn-primary">Salvar</button>

            <a sec:authorize="!isAuthenticated()" th:href="@{/login}" class="btn btn-secondary">Cancelar</a>
            <a sec:authorize="isAuthenticated()" th:href="@{/cliente/listClientes}" class="btn btn-secondary">Cancelar</a>
        </div>
    </form>
</main>
</body>
</html>